#tools
    position fixed
    bottom 0
    left 0

#chat-window
    opacity 0.8
    overflow-y scroll
    height 85%
    margin-top 0.5em

#chat-input
    opacity 0.8

#chat-send
    opacity 0.8

.form
    height 15%

#chat
    margin-right 1em
    width 25%
    height 90%
    position fixed
    right 0
    top 100

#draw
    margin-left 2em
    float left

#canvas
    position fixed
    top 0
    left 0

#tools
    margin 0.65em

div.color-picker
    margin 0.65em

#thickness
    margin 0.65em

body
    padding-top 70px

.row
    width 100%