#chat-window
    overflow-y scroll
    height 85%
    margin-top 0.5em

.form
    height 15%

#chat
    margin-right 2em
    height 46em
    float right

#draw
    margin-left 2em
    float left

#canvas
    border-style solid
    border-width 0.3em
    border-color #2C3E50
    margin 0.65em

#tools
    margin 0.65em

div.color-picker
    margin 0.65em

#thickness
    margin 0.65em

body
    padding-top 60px

.row
    width 100%