extends layout

block styles
    link(rel='stylesheet', href='/stylesheets/lobby.css')

block scripts
    script.
        sessionID="#{sessionID}";
    script(src='/javascripts/lobby.js')

block content
    nav.navbar.navbar-inverse.navbar-fixed-top
        .container-fluid
            .navbar-header
                a.navbar-brand(href="/") #{title}
    #window
        .well(id='chat-window')
            form.form-group(action='' id='create-room-form')
                .input-group
                    input.form-control(type='text' id='create-room-text' placeholder='Room ID')
                    span.input-group-btn
                        button.btn.btn-success.button Create room
            form.form-group(action='' id='join-room-form')
                .input-group
                    input.form-control(type='text' id='join-room-text' placeholder='Room ID')
                    span.input-group-btn
                        button.btn.btn-success.button Join room
            button.btn.btn-success.full-width(id="random") Random match