extends layout

block styles
    link(rel='stylesheet', href='/stylesheets/roomSelect.css')

block scripts
    script.
        sessionID="#{sessionID}";
    script(src='/javascripts/roomSelect.js')

block content
    h1 #{title}
    #window
        .well(id='chat-window')
            form.form-group(action='' id='create-room-form')
                .input-group
                    input.form-control(type='text' id='create-room-text')
                    span.input-group-btn
                        button.btn.btn-primary.button Create room
            form.form-group(action='' id='join-room-form')
                .input-group
                    input.form-control(type='text' id='join-room-text')
                    span.input-group-btn
                        button.btn.btn-primary.button Join room